

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  .card-img {
    object-fit: contain;
    height: 200px;
    border-radius: 10px 10px 0 0;
  }

  .card-button:hover{
    transform: scale(1.1);
  }

  .card-title {
    margin: auto;
    text-transform: uppercase;
    font-size: 17px;
  }
  
  .card-text {
    font-size: 13px;
  }
  
  .btn-review {
    margin-right: 0.5rem;
  }