div{
    margin-left: 10px;
  }
  
.product-card{
    max-width: 150px;
    border:1px solid black;
    border-radius: 15px;
    padding: 10px 10px;
  }
  .product-card>img {
    width:125px;
  }
  .yellow-border{ 
    border-color: blueviolet;
  }